body {
	margin: 0;
}

div.main {
	margin: 25px;
	padding: 0 0 10px 0;
}

div.block {
	margin: 0 0 10px 0;
}

div.header {
	width: 100%;
	text-align: center;
}

span {
	font-weight: bold;
}

ul.mainnavbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

ul.mainnavbar li {float: left;}

ul.mainnavbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul.mainnavbar li a:hover:not(.active) {background-color: #111;}

ul.mainnavbar li a.active {background-color: #4CAF50;}

ul.mainnavbar li.right {float: right;}

@media screen and (max-width: 600px){
    ul.mainnavbar li.right,
    ul.mainnavbar li {float: none;}
}

table.common {
	width: 100%;
	margin: 10px 0 10px 0;
}

th.common, td.common {
    padding: 5px;
}

table.common, th.common, td.common {
    border: 1px solid black;
    border-collapse: collapse;
}

table.transparent {
	border: none;
    border-collapse: collapse;
    margin: 10px 0 10px 0;
}

table.transCenter {
	border: none;
    border-collapse: collapse;
    width: 100%;
    margin: 10px 0 10px 0;
}

table.list tr:nth-child(odd) {
    background-color: #ccc;
    border-collapse: collapse;
}